*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f2f5;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    line-height: 10px;
    padding: 0px;
    margin: 0;
    margin-top: 0;
    
}

